.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.search__input {
  border: 2px solid rgb(133, 129, 129);
  border-radius: 20px;
  min-width: 30%;
  text-align: center;
  padding: 8px;
}

.nofound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 57vh;
}

.noFound--img {
  width: 40%;
}
